
  <h4>Liste des projects</h4>
  
  <div>  
    <ul>
      <li> 
        <a href="#/projects/nil">Nouveau Projet</a> 
      </li>
      <li> 
        Search: <input ng-model="projectQuery">
      </li> 
      <li> 
        Sort by:
        <select ng-model="projectOrder">
          <option value="name">Alphabétique</option>
          <option value="created_at">Plus récent</option>
        </select>
      </li> 
  </div>

  <ul>
    <li ng-repeat="project in projects | filter:projectQuery | orderBy:projectOrder">
      <a href="#/projects/{{project.id}}">{{project.name}}</a>
      <p>{{project.detail}}</p>
    </li>
  </ul>


