<div ng-controller="ProjectsDetailController">
  <form name="form" ng-submit="submit()" >
    <div>
      <label>Nom du projet</label>
      <input name="id" type="hidden" ng-model="project.id" />
      <input name="name" ng-model="project.name" ng-minlength="3" ng-maxlength="20" required />
      <span ng-show="form.name.$error.minlength">Le nom doit être d'au moins 3 caractères</span>
      <span ng-show="form.name.$error.maxlength">Le nom doit être d'au mieux 20 caractères</span>
    </div>

    <div>
      <label>Détail du projet</label>
      <textarea name="detail" ng-model="project.detail" ></textarea>
    </div>

    <div>
      <input type="submit" id="submit" value="Enregistrer" />
    </div>
  </form>

  <label>Données envoyées</label>
  <pre >
{{result | json}}
  </pre>
</div>
