-# Render the admin menus
%li.dropdown#admin-menu{"dropdown" => "dropdown"}
  %a{ "href" => "#", "class" => "dropdown-toggle", "data-toggle" => "dropdown", "aria-expanded" => "true", "role" => "button", "dropdown-toggle" => "dropdown-toggle" }
    %span{ "translate" => 'admin_menu' }
    %span{ "class" => "caret" }
  %ul{ "class" => "dropdown-menu", "role" => "menu", "aria-labelledby" => "admin-menu"}
